.app__moving-text {
  width: 100%;
  height: 65px;
  background-color: var(--text-100);

  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  border-top: 3px solid var(--color-black);
  border-bottom: 3px solid var(--color-black);

  font-family: var(--text-Carrete);
  font-size: 2.5rem;
  white-space: nowrap;
}

.app__moving-text > p {
    animation: movingText 7s infinite ease-in-out;
}

@keyframes movingText {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(60px);
  }
  100% {
    transform: translateX(0px);
  }
}
